.footer {
  background-color: #8600b3;
	color: white;
	height: 50px;
	line-height: 100px;
	text-align: center;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
	text-align: center;
  	padding: 1rem;
}
