.top-bar-title {
	font-size: 2em;
	color :#8600b3;
	
}

.header-user-img {
	border-radius: 100%;
  	height: 70px;

}



ul{

	background: #f3e6ff;
}


.top-bar-right{

	background: #f3e6ff;
}

.top-bar{

	background: #f3e6ff;
	color : #8600b3;
}
a{
	color : #8600b3;
	
}

a:hover {
    color: #bf80ff;
}

a:active {
    color:  #bf80ff;
}

.nav{
	background: #f3e6ff;
}

.top-row-expanded{

	background: #f3e6ff;
}
