html, body {
	height: 100%;
	
}

.nav {
	top: initial;
}

.off-canvas-wrapper {
	min-height: 100%;
	
	
}

#page{
	margin: auto;
	width: 650px;
	margin-top: 50px;
	border: 2px dotted #f3e6ff;
	font-family: Calibri;
}

header{

	background: #f3e6ff;
}

body{
	
	font-family: Calibri;
	    background-image: url("/img/background1.jpg");
    background-repeat: no-repeat;
    background-position: left padding-bottom;
    background-attachment: fixed;
}

.row{
	background-image:url(img/background1.jpg);

	background-repeat:no-repeat;
	background-attachment:fixed;
	
	background-position:50% -10%;
	background-size: 140%;
}

.LoginPage{

	background-image:url(img/background1.jpg);

	background-repeat:no-repeat;
	background-attachment:fixed;
	
}

main {
	padding-bottom: 100px;

}


.page-title {
	margin-top: 10px;
	margin-left: .625rem;
}


.tasklist {
	list-style: none;
  padding: 0;
	margin: 0;

}

.tasklist-header {
	padding: 10px;
	width: 100%;
}


.tasklist-item {
	padding: 10px;
	width: 100%;
	background: white;

}

.tasklist-item:hover {
	background :#f3e6ff;
}



.tasklist-header {
	background: #8600b3;
  	color: white;
  	font-weight: bold;
}

.tasklist-item-id{
	display: inline-block;
	text-align: center;
	margin: 0px 10px 0px 10px;
	width: 5%;

}
.tasklist-item-priority{
	display: inline-block;
	text-align: center;
	margin: 0px 10px 0px 10px;
	width: 10%;
	
}
.tasklist-item-description{
	display: inline-block;
	text-align: center;
	margin: 0px 10px 0px 10px;
	width: 15%;
	
}
.tasklist-item-creator{
	display: inline-block;
	text-align: center;
	margin: 0px 10px 0px 10px;
	width: 10%;
	
}
.tasklist-item-assignee{
	display: inline-block;
	text-align: center;
	margin: 0px 10px 0px 10px;
	width: 10%;
	
}
.tasklist-item-due{
	display: inline-block;
	text-align: center;
	margin: 0px 10px 0px 10px;
	width: 10%;
	
}

.tasklist-item-actions .fa-check {
  color:  #00ffaa;
}

.tasklist-item-actions .fa-times {
  color: #ff1a8c;
}

.tasklist-item-actions .fa-pencil {
  color: #8600b3;
}

.tasklist-item-close {
	background: grey!important;
}

.tasklist-item-close > span {
  text-decoration: line-through;
}

.tasklist-item-close .tasklist-item-actions {
  text-decoration: none;
}

.tasklist-item-close .tasklist-item-actions .fa, .tasklist-item-close > span {
  color: silver;
}

.button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8600b3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #bf80ff;
  text-decoration: none;
}